.Table {
  border: none;
  border-collapse: separate;
  border-spacing: 0;
  background: #fff;
  width: 100%;
}

.Table thead th {
  background-color: #dee2e6;
  border: none;
  color: #336b6b;
  padding: 10px;
  text-align: left;
  text-shadow: 1px 1px 1px #fff;
}

.Table tbody td {
  border-bottom: solid 1px #dee2e6;
  border-right: solid 1px #dee2e6;
}

.DataTable {
  position: relative;
  max-width: 100%;
  border-collapse: collapse;
}

.Cell {
  padding: 10px;
  text-align: left;
  vertical-align: top;
}

.Cell-fixed {
  position: absolute;
  top: auto;
  left: 0;
  width: 145px;
  white-space: unset;
  text-align: left;
  background: #fff;
  word-wrap: break-word;
  border-left: solid 1px #dee2e6;
  border-right: solid 1px #dee2e6;
  border-bottom: solid 1px #dee2e6;
}

.Cell-darkened {
  background-color: #f2f2f2;
}

.ScrollContainer {
  overflow-x: auto;
  margin-left: 145px;
  padding-bottom: 10px;
}

.TableFooter {
  height: 32px;
}

.TableRange {
  width: 50%;
  height: 100%;
  line-height: 32px;
  vertical-align: middle;
  text-align: left;
  display: inline-block;
  padding-left: 2%;
}

.PageRouterContainer {
  width: 50%;
  float: right;
}

.PageRouter {
  display: inline-block;
  height: 32px;
  padding-right: 2%;
}

.PageRouterButtons {
  display: inline-block;
  border: none;
  width: 80px;
  height: 100%;
  padding: 0;
  border-radius: 3px;
  font-size: 14px;
  line-height: 32px;
}

.PageRouterButtons:hover {
  background-color: lightgrey;
}

.PageRouterNumbers {
  display: inline-block;
  height: 100%;
  line-height: 32px;
  padding: 0 10px;
  border-radius: 3px;
}

.PageRouterNumbers:hover {
  background-color: lightgrey;
}

.ActivePage {
  color: white;
  background-color: #4285f4 !important;
}
