.Table {
  border: none;
  border-collapse: separate;
  border-spacing: 0;
  background: #fff;
  width: 100%;
}

.Table thead th {
  background-color: #dee2e6;
  border: none;
  color: #336b6b;
  padding: 10px;
  text-align: left;
  text-shadow: 1px 1px 1px #fff;
}

.Table tbody td {
  border-bottom: solid 1px #dee2e6;
  border-right: solid 1px #dee2e6;
}

.DataTable {
  position: relative;
  max-width: 100%;
  border-collapse: collapse;
}

.Cell {
  padding: 10px;
  text-align: left;
  vertical-align: top;
}

.Cell-fixed {
  position: absolute;
  top: auto;
  left: 0;
  width: 145px;
  white-space: unset;
  text-align: left;
  background: #fff;
  word-wrap: break-word;
  border-left: solid 1px #dee2e6;
  border-right: solid 1px #dee2e6;
  border-bottom: solid 1px #dee2e6;
}

.Cell-darkened {
  background-color: #f2f2f2;
}

.ScrollContainer {
  overflow-x: auto;
  margin-left: 145px;
}

.TableRange {
  width: 50%;
  float: left;
}

.PageRouterContainer {
  width: 50%;
  float: right;
}

.PageRouter {
  display: flex;
}

.PageRouterButtons {
}

.PageRouterNumbers {
  padding: 0 5px;
  border-radius: 4px;
}

.ActivePage {
  color: white;
  background-color: #4285f4;
}
