/* Universal border-box */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.app {
  overflow: auto;
  text-align: center;
}

.grid-margin {
  float: left;
  width: 20%;
}

.grid-playground-container {
  float: left;
  width: 60%;
}

/* remove blue outline from focused button */
button:focus {
  outline: 0;
}
